{% extends "atc/gate_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Update {{ gate }}
{% endblock %}

{% block content %}
<h1><a href={% url "atc:gate_list" %}>Gate</a></h1>
<h2>Update {{ gate }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form | crispy }}
    <input class="btn btn-primary" type="submit" value="Update" />
</form>
<a href={% url "atc:gate_detail" gate.pk %}>Cancel</a>
<form style="display:inline;" action={% url "atc:gate_delete" gate.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ gate }}?')">{% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Delete" />
</form>
{% endblock %}
